<a href="https://colab.research.google.com/github/NjokiMbugua/Week-4-Independent-Project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_Njoki_Mbugua_Python_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Independent Project

# 1.0 Importing the Libraries

In [62]:
# Importing Pandas library
import pandas as pd
# Importing numpy library
import numpy as np

# 1.1 Loading the various Data Sets

In [ ]:
# Let's read the data from the CSV file
url='/content/Autolib_dataset (2).csv'
# Creating the dataframe to be used
df=pd.read_csv('/content/Autolib_dataset (2).csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

# 1.2 Previewing our data

In [ ]:
# Previewing the first 5 rows of our data
df.tail(5)

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# 1.3 Accessing Information about our Dataset

In [ ]:
#  Getting to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# 1.4 Data Cleaning

## 1.4.1 Validity

In [ ]:
# Irrelevant Data
# we will drop the columns Scheduled at & Displayed comment from the dataset below
# since we will not need them in our analysis
df.drop(['Scheduled at','Displayed comment','Cars','Geo point'], axis = 1, inplace = True)
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 21 columns]

In [ ]:
# Merging the date and time columns
df['DateTime'] = df['year'].astype(str) + df['month'].astype(str).str.zfill(2) + df['day'].astype(str).str.zfill(2)+ df['hour'].astype(str).str.zfill(2) +df['minute'].astype(str).str.zfill(2)

df['date']=pd.to_datetime(df['DateTime'])

In [ ]:
df.head()

                              Address  ...                date
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 23 columns]

In [ ]:
# Dropping the year, month, minute datetime columns after merging
b = ['year','day','minute','DateTime','Subscription status']
df.drop(b, inplace=True, axis=1)

In [ ]:
df.head()

                              Address  ...                date
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 18 columns]

## 1.4.2 Completeness

In [ ]:
# Checking/counting missing values
df.isnull().sum()

Address               0
Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charge Slots          0
Charging Status       0
City                  0
ID                    0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Station type          0
Status                0
month                 0
hour                  0
date                  0
dtype: int64

## 1.4.3 Consistency

In [ ]:
# Checking for any duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
df.duplicated().sum()

0

## 1.4.3 Uniformity

In [ ]:
# Renaming some columns
df=df.rename(columns={'Bluecar counter':'Bluecar','Utilib counter':'Utilib','Utilib 1.4 counter':'Utilib_1.4','ID':'Id','year':'Year','month':'Month','day':'Day','hour':'Hour','minute':'Minute',
'Postal code':'Postal_code', 'Public name':'Public_name','Rental status':'Rental_status', 'Station type':'Station_type'})
df.head(5)

                              Address  Bluecar  ...  Hour                date
0                 2 Avenue de Suffren        0  ...    11 2018-04-08 11:43:00
1           145 Rue Raymond Losserand        6  ...     7 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy        3  ...    20 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©        3  ...     4 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret        3  ...    17 2018-04-08 17:23:00

[5 rows x 18 columns]

# 1.5 Exporting the cleaned data

In [ ]:
# Exporting our dataframe into a csv file
df.to_csv("Revised.csv")

# 1.6 Data Analysis

In [ ]:
df.head(3)

                            Address  Bluecar  ...  Hour                date
0               2 Avenue de Suffren        0  ...    11 2018-04-08 11:43:00
1         145 Rue Raymond Losserand        6  ...     7 2018-04-06 07:24:00
2  2 Avenue John Fitzgerald Kennedy        3  ...    20 2018-04-03 20:14:00

[3 rows x 18 columns]

In [ ]:
# What is the most popular hour for returning cars?
# Blue car
df.groupby('Bluecar')['Hour'].max().sort_values(ascending=False).head(1)

Bluecar
6    23
Name: Hour, dtype: int64

In [ ]:
# Utilib_1.4
df.groupby('Utilib_1.4')['Hour'].max().sort_values(ascending=False).head(1)

Utilib_1.4
2    23
Name: Hour, dtype: int64

In [ ]:
# Utilib
df.groupby('Utilib')['Hour'].max().sort_values(ascending=False).head(1)

Utilib
1    23
Name: Hour, dtype: int64

In [ ]:
#What station is the most popular at the most popular picking hour?

df.groupby('Public_name')['Hour'].max().sort_values(ascending=False).head(1)
df.groupby('Public_name')['Bluecar'].sum().nlargest()

Public_name
Fontenay-aux-Roses/Robert Marchand/32     50
Le Plessis-Robinson/GalilÃ©e/16           49
Fontenay-aux-Roses/Lombard/20             47
Fontenay-aux-Roses/Division Leclerc/31    43
Paris/Philippe Auguste/126                42
Name: Bluecar, dtype: int64

In [ ]:
# What station is the most popular overall?
df['Public_name'].value_counts().head()

Paris/Porte de Montrouge/8    13
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Courcelles/69           11
Paris/Grenelle 31/Parking     11
Paris/Mathis/35               11
Name: Public_name, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue cars overall?
df.groupby('Postal_code')['Bluecar'].max().sort_values(ascending=False).head(1)

Postal_code
93100    7
Name: Bluecar, dtype: int64

In [ ]:
# Does the most popular station belong to that postal code?
df.groupby(['Public_name', 'Postal_code'])['Bluecar'].max().sort_values(ascending=False)

Public_name                                   Postal_code
Sceaux/Franklin Roosevelt/60                  92330          7
Aulnay-sous-bois/Isidore Nerat/6              93600          7
VerriÃ¨res-le-Buisson/D'Estienne d'Orves/204  91370          7
Fontenay-Sous-Bois/Moreau David/14            94120          7
Limeil-BrÃ©vannes/Saint John Perse/20         94450          7
                                                            ..
Paris/Gambetta/249                            75020          0
Paris/FranÃ§ois 1er/38                        75008          0
Paris/Flandre/61                              75019          0
Paris/Etoile Foch/Parking                     75016          0
Alfortville/Blanqui/61                        94140          0
Name: Bluecar, Length: 1105, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue at the most popular picking hour?

df.groupby(['Postal_code','Bluecar'])['Hour'].max().sort_values(ascending=False)

Postal_code  Bluecar
75001        0          23
75015        2          23
             4          23
             5          23
75016        0          23
                        ..
93800        7           0
78150        7           0
92600        7           0
93150        7           0
94700        6           0
Name: Hour, Length: 641, dtype: int64

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#df.groupby(['Hour','Bluecar'])
#df1=df[(df['City'] == 'Paris') & df['Bluecar','Hour'].max()
df.groupby(['Hour'])['Bluecar'].max().sort_values(ascending = False).head(1)

Hour
11    7
Name: Bluecar, dtype: int64

# 1.7 Recommendations

In [ ]:
#From the research findings we deduce that the popular stations were Ãpinay-sur-Seine/Foch/53 and  Paris/Porte de Montrouge/8 
#and the most popular hour for the blue cars was hour 11. 
#Thus paying keen interest in these two stations would help improve services rendered to the clients 
#such as increasing the number of charging slots, increasing the number of slots(parking space) 
#within these stations in order to have a higher holding capacity.